.bgi {

background-image: url(../assets/backgrounds/h_img.jpg);
background-size: 100%;
height: 600px;
text-align: center;
padding: 180px;
font-size: 15px;
color: beige;

}
.bgi h1{
  margin-top: 15px
}
.bgi p{
  margin-top: 10px;
}
.mouse {
  margin-top: 60px;
}
.about {
text-align: center;
padding: 40px;
}
.services {
  background-image: url(../assets/backgrounds/s_image.jpg);
  height: 400px;
  padding: 90px;
  text-align: center;
  color: azure;
  background-size: cover;
}
.wedo {
   padding: 30px;
   margin-left: 40px; 
   
}
.de{
 margin-left: 40px;
 margin-top: -20px;
}
.whatwedo{
  text-align: center;
  padding: 20px;
  font-weight: bold;
}
#deve{
  display: none;
  text-align: center;
  font-size: 15px;
}

#des{
  display: none;
  text-align: center;
  font-size: 15px;
}

#product {
  display: none;
  text-align: center;
  font-size: 15px;
}

.work1 {
  background-image: url(../assets/portfolio/work4.jpg);
  height: 140px;
  background-size: 100%;
  margin-left:180px;
}
.work2 {
  background-image: url(../assets/portfolio/work3.jpg);
  height: 140px;
  background-size: 100%;
  margin-left: 15px;
}
.work3 {
  background-image: url(../assets/portfolio/work2.jpg);
  height: 140px;
  background-size: 100%;
  margin-left: 15px;
}
.work4 {
  background-image: url(../assets/portfolio/work1.jpg);
  height: 140px;
  background-size: 100%;
  border: 20px;
  margin-left: 15px;
}
.work5 {
  background-image: url(../assets/portfolio/work5.jpg);
  height: 140px;
  background-size: 100%;
  margin-left: 180px;
}
.work6 {
  background-image: url(../assets/portfolio/work6.jpg);
  height: 140px;
  background-size: 100%;
  margin-left: 15px;
}
.work7 {
  background-image: url(../assets/portfolio/work7.jpg);
  height: 140px;
  background-size: 100%;
  margin-left: 15px;
}
.work8 {
  background-image: url(../assets/portfolio/work8.jpg);
  height: 140px;
  background-size: 100%;
  border: 20px;
  margin-left: 15px;
  border-color: rgb(16, 236, 236);
}

.rw {
  margin: 15px;
}
.portfolio {
text-align: center;
}
#port1{
  padding: 11px;
  height: 100px;
  border: 10px;
  
  margin: 5px;
  color: rgb(47, 201, 201);
  display: none;
}
#port1 p {
  border-style: solid;
  border-width: 3px;
  color:rgb(31, 243, 243);
}
#port2{
  padding: 7px;
  height: 100px;
  border: 10px;
  border-color: azure;
  margin: 2px;
  color: azure;
  display: none;
  border-width: 10px;
}
#port2 p {
  border-style: solid;
  border-width: 3px;
  color:rgb(31, 243, 243);
}
#port3{
  padding: 11px;
  height: 100px;
  border: 10px;
  border-color: azure;
  margin: 5px;
  color: azure;
  display: none;
}
#port3 p {
  border-style: solid;
  border-width: 3px;
  color:rgb(31, 243, 243);
}
#port4{
  padding: 11px;
  height: 100px;
  border: 10px;
  border-color: azure;
  margin: 5px;
  color: azure;
  display: none;
}
#port4 p {
  border-style: solid;
  border-width: 3px;
  color:rgb(31, 243, 243);
}
#port5{
  padding: 11px;
  height: 100px;
  border: 10px;
  border-color: azure;
  margin: 5px;
  color: azure;
  display: none;
}
#port5 p {
  border-style: solid;
  border-width: 3px;
  color:rgb(31, 243, 243);
}
#port6{
  padding: 11px;
  height: 100px;
  border: 10px;
  border-color: azure;
  margin: 5px;
  color: azure;
  display: none;
}
#port6 p {
  border-style: solid;
  border-width: 3px;
  color:rgb(31, 243, 243);
}
#port7{
  padding: 11px;
  height: 100px;
  border: 10px;
  border-color: azure;
  margin: 5px;
  color: azure;
  display: none;
}
#port7 p {
  border-style: solid;
  border-width: 3px;
  color:rgb(31, 243, 243);
}
#port8{
  padding: 11px;
  height: 100px;
  border: 10px;
  border-color: azure;
  margin: 5px;
  color: azure;
  display: none;
}
#port8 p {
  border-style: solid;
  border-width: 3px;
  color:rgb(31, 243, 243);
}
.conc{
  background-image: url(../assets/backgrounds/c_image.jpg);
  height: 400px;
  background-size: 100%;
  text-align: center;
}
.conc input{
  color: white;
  background-color: rgba(240, 255, 252, 0.342);
  width: 400px;
  margin-left: 20px;
  margin-top: 30px;
}
#button{
  color:rgba(216, 197, 197, 0.507);
  width: 200px;
  margin-top: 15px;
  font-weight: bolder;
  
}
#message{
  height: 230px;
  
} 
.rw3{
  margin-top: 15px;
  margin-left: 175px;
}
.foot {
  text-align: center;
  margin-top: 20px;
}
.foot h3 {
  font-size: 15px;
}
.foot h4 {
  font-size: 10px;
}